@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "错误";
}

<h1 class="text-danger">错误。</h1>
<h2 class="text-danger">处理你的请求时出错。</h2>
@*<div>
    <P>
        @Model.ActionName
        <br />
        @Model.ControllerName
        <br />
        @Model.Exception.HelpLink
        <a href="@Model.Exception.HelpLink">解决问题</a>
        <br />
        @Model.Exception.Message
        <br />
        @Model.Exception.Source
        <br />
        @Model.Exception.TargetSite.ToString()
    </P>
    
</div>*@
@*发送邮件*@

